h1{
    /*border-style: solid;
    border-width:2px;
    border-color: hsl(260, 100%, 77%);*/
    /*this three line can be as one line*/
    text-align: center;
    border: 3px solid hsl(260, 100%, 77%);
    border-radius:30px;
 }
 p{
    border-bottom: 3px solid rgb(252, 64, 64);
    border-top: 3px solid rgb(238, 255, 2);
    border-left: 3px dotted rgb(2, 255, 2);
    border-right: 3px dotted rgb(2, 2, 255);
 }